body {

      font-family: 'Open Sans', sans-serif;
    }
    .navbar {
      opacity: 1;
      margin-bottom: 0px;
      border-radius: 0px;     
    }
    .navbar-brand {
      height: 66px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .jumbotron {
      background: -webkit-linear-gradient(#065f93 21%, #4dd0c2); 
      background: -o-linear-gradient(#065f93 21%, #4dd0c2); 
      background: -moz-linear-gradient(#065f93 21%, #4dd0c2); 
      background: linear-gradient(#065f93 21%, #4dd0c2); 
      background-repeat: no-repeat;
      background-position: 50% 60%; 
      padding-top: 68px;
      padding-bottom: 30px;
      margin-top: -69px;
      margin-bottom: 0px;
      }
    
    .jumbotron .container {
      padding: 25px 0px;
    }
    .container {
      width: 80%;
      max-width: 1000px;
    }
    .even {
      background-color: #eeeeee;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .odd {
      padding-top: 30px;
      padding-bottom: 30px;      
    }
    .contact {
      padding-bottom: 30px;
      z-index: 99;
      background-color: #50C2B9;
    }
    .jumbotron h1 {
      color: #FFF;
      text-align: center;
      line-height: 1.3;
      font-size: 40px;
      font-family: 'Kaushan Script', serif;
    }
    .jumbotron p {
      margin-bottom: 15px;
      font-size: 17px;
      font-weight: 300;
      color: #FFF;
      text-align: center;
      word-spacing: 10px;
    }
    .btn-primary {
      color: #fff;
      background-color: #ce396a;
      box-shadow: 0 4px #a6214c;
      border-radius: 10px;
      word-spacing: 1px;
      border-color: #ce396a;
    }
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
      color: #fff;
      background-color: #c13161;
      border-color: #c13161;
    }
    .btn-primary:hover {
      top: 2px;
    }
    .btn-primary:active {
      top: 4px;
    } 

    .btn-lg {
      font-size: 15px;
    }
    .container h2 {
      text-align: left;
      font-weight: 400;
      font-size: 26px;
      color: #1b2668;
    }
    .container h2 a {
      text-align: left;
      font-weight: 400;
      font-size: 26px;
      color: #1b2668;
    }
    .container h3 {
      font-size: 18px;
      text-align: left;
    }
    .container img {
      width: 100%;
      margin: 0 auto;
      position: relative;
    }
    .p {
      text-align: center;
    }

    /*kanna*/

    #nav-menu {
      margin-top: 26px;
    }

    #nav-menu a {
      margin-right: 45px;
      color: #FFF;
      font-weight: 300px;
    }


/*kanna*/

    @media screen and (max-width: 768px) {
        #nav-menu a {
          display:block;
          margin:10px;
        }

        #nav-menu button {
          margin: 3px;
        }
        .jumbotron {
          padding-top: 48px;
          padding-bottom: 48px;
        }
        .container .jumbotron {
          padding-right: 60px;
          padding-left: 60px;
        }
        .jumbotron h2 {
          font-size: 25px;
        }
        .container {
          width: 90%;
        }
        .jumbotron h1 {
          text-align: center;
          font-size: 28px;
        }
        .container p {
          font-size: 15px;
        }
        .container h2 {
          font-size: 25px;
          text-align: left;
        }           
        .container h3 {
          font-size: 18px;
          text-align: left;
        } 
        .container img {
          width: 100%;
          margin: 0 auto;
          position: relative;
        }  
        .col-md-4 img {
          width: 20%;
        }
        .main p {
          text-align: left;
        }
        .navbar-default .container h4, p { 
          text-align: center;
        }
        .navbar-default .container h4 {
          width: 100%;
        } 
  }    

      @media screen and (min-width: 768px) and (max-width: 990px) {
        .col-md-4 img {
          width: 20%;
        }
      }
        

    .navbar .container {
      width: 80%;
      border-bottom: 1px solid white;
      }
    .main {
      text-align: center;
    }
    .main p {
      text-align: left;
      color: #3e414e;
      font-weight: 400;
      font-size: 17px;
      line-height: 2;
    }
    .navbar-default {
      border-color: #333;
      background-color: #17386a;
      background-repeat: no-repeat;
      background-position: 50% 60%; 
      height: 100%;
      padding: 25px 0px;
      background-size: cover;
      min-height: 500px;
      z-index: -80;
    }
    .col-md-4 img {
      width: 80px;
      margin: 0 auto;
      padding: 10px 0px;
    }
    .navbar-default .container {
      width: 60%;
    }
    .navbar-default h4 {
      color: #FFF;    
      font-weight: 400; 
      font-size: 19px; 
      text-align: left;
    }
    .navbar-default p {
      color: #dedede;  
      font-size: 13px; 
      text-align: left;
    }
    .row.contact {
      margin-bottom: -65px;
    }
    .row.contact img {
      width: 280px
    }



  .contact-box {
    width: 80%;
    border-radius: 5px;
    min-height: 300px;
    background-color: #FFF;
    box-shadow: 0 0 3px 2px #A2A2A2;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-top: 4px;

  }
  .contact-box h2 {
    text-align: center;
    padding-top: 45px;
    font-size: 30px;
  }
  .contact-box img {
    width: 40px;
  }
  .contact-details {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ededed;
  }
  .contact-details p {
    padding-top: 10px;
  }
  .cta {
    text-align:center;
    background-color:#E4F7FF;
    border-radius:10px;
    padding:10px;
    width: 300px;
    margin: 200px auto;
    margin-top:25px;
    font-size: 20px;
  }
  .case h1 {
    font-family: 'Open Sans', sans-serif;
  }
  .jumbotron.case {
    padding-bottom: 0px;
  }
  .jumbotron.case p {
    word-spacing: 2px;
  }
  .case p {
    padding: 10px 20px;
    display: block;
    margin-top: 10px;
  }
  .case img {
    width: 80%;
  }
  .col-sm-offset-right-3 {
  margin-right: 25%;
  }
  .odd.case {
    margin: 50px auto 100px auto;
  }
  .case .imgtag {
    width: 80%;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
  }
  .imgbox {
    border: 1px solid #eeeeee;
    padding: 20px;
    margin: 20px auto;
  }