  <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}

@font-face {
  font-family: "socicon";
  src:url("fonts/socicon.eot");
  src:url("fonts/socicon.eot?#iefix") format("embedded-opentype"),
    url("fonts/socicon.woff") format("woff"),
    url("fonts/socicon.ttf") format("truetype"),
    url("fonts/socicon.svg#socicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;

}
p, li, ul {
  color: #535353;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
h4, h5, h6 {
  color: #535353;
}
img {
  max-width: 100%;
}
.mobile-view {
  display: none;
}
a.link {
  font-size: 16px;
  text-transform: none;
  margin: 0px;
  font-weight: 300;
}

/* jumbotron */
.jumbotron h1 {
    font-size: 48px;
}
.jumbotron {
  color: #FFF;
  text-align: center;
  background-image: url('images/Header photo.png');
  background-size: cover;
  background-position: center;
  padding-top: 135px;
  padding-bottom: 85px;
}
.jumbotron p {
  font-size: 20px;
  margin-top: 30px;
  color: #FFF;
  line-height: 30px;
}
.jumbotron .container {
    max-width: 50%;
}
a.jumbotron-cta {
    font-weight: 300;
    font-size: 20px;
    margin-top: 30px;
    color: #9d9d9d;
    text-transform: none;
    border-bottom: 1px solid;
}
a.jumbotron-cta:hover {
    text-decoration: none;
    color: #FFF;
    transition: 0.3s all;
}

h2.homepage-header {
  font-weight: 100;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
}
.recent-publications-container {
  margin: 70px auto;
}
.recent-publications {
  margin: 70px auto;
}
.recent-publications .container {
  padding-left: 35px;
  padding-bottom: 35px;
}
.recent-publications .container:last-child {
  padding-bottom: 0px;
}
.publication-list:before {
    content: url("images/futuro_icons_32px_67.png");
    margin-left: -49px;
}
h4.publication-titles {
    margin-top: -40px;
    text-align: left;
    font-size: 24px;
    text-transform: none;
}
a.secondary-cta {
    color: #535353;
    font-size: 16px;
    margin-left: 0px;
    text-decoration: none;
}
a.secondary-cta:hover {
    text-decoration: none;
    color: rgb(87, 204, 233);
    transition: 0.3s all;
}
/* Nav */

.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-collapse.collapse {
  text-align: center;
}

.navbar li, a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  margin-right: 10px;
  margin-left: 10px;
}
.navbar a:hover {
  transition: 0.3s all;
}

/* Project */

.project {
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 400px;
}

.wetravel {
  background-color: #81aecd;
  color: #FFF;
}
.utc {
  background-color: #2a2b2b;
  color: #FFF;
}
.bite {
  background-color: #111111;
  color: #FFF;
}
.justlogin {
  background-color: #8db5d2;
}
.container.row {
  margin: 0 auto;
}
.project img {
  max-height: 320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.urx img {
  width: auto;
}
.utc img {
    width: auto;
}
img.project-logo {
  max-height: 30px;
  display: inline;
  width: auto;
}
p.company-overview {
  margin: 20px auto;

}
p.project-scope {
    font-weight: 900;
}
p.project-scope-description {
    margin-bottom: 20px;
}
.view-more-btn {
    padding: 10PX 28PX;
    border: 1.5px solid #1F1E1D;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    border-radius: 3px;
    background-color: transparent;
    font-family: 'Roboto';
    margin-top: 20px;
}
.view-more-btn:hover {
    background-color: #1F1E1D;
    color: #FFF;
    transition: 0.3s all;
    border: 1.5px solid #1F1E1D;
}
.view-more-white {
    border: 1.5px solid #FFF;
    color: #FFF;
}
.view-more-white:hover {
    background-color: #FFF;
    color: #201713;
    border: 1.5px solid #FFF;
}
/* project tags */
.tag {  
  border-radius: 8px;
  margin: 0px 10px 20px 0px;
  display: inline-block;
  color: #FFF;
  font-weight: 900;
  padding: 4px 8px;
  font-size: 12px;
}
.user-research {
  background-color: #91c6de;
  background-color: #F1BC77;
}
.visual-design {
  background-color: #91deb3;
  background-color: #91DE98;
}
.frontend-dev {
  background-color: #74A4E2;; 
}
p.white {
  color: #FFF;
}
footer {
  background-color: #222;
  position: relative;
  bottom: 0; 
  min-height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.social-media-icons {
  font-family: 'socicon' !important;
  border-radius: 50px;
  border: 2px solid #9d9d9d;
  padding: 7px 0px;
  width: 40px;
  display: inline-block;
  transition: 0.3s all;
  color: #9d9d9d;
  font-size: 15px;
  text-align: center;
}
footer .row.container {
  width: 50%;
}
.social-media-icons:hover {
  transition: 0.3s all;
  background-color: #222; 
  border: 2px solid #FFF;
  color: #FFF;
}
.socicon-linkedin:before {
  content: "\e049";
}
.socicon-twitter:before {
  content: "\e040";
}
.socicon-medium:before {
  content: "\e06d";
}
.socicon-mail:before {
  content: "\e01f";
}
.next-casestudy {
  margin: 0 auto;
  display: inherit;
  max-width: 300px;
}
/* Project Pages */

.jumbotron-urx {
  background-image: url('urx/URX-BG.png');
  min-height: 480px;
  margin-bottom: 0px;
  background-size: contain;
  position: relative;
}
.jumbotron-wetravel {
  background-image: url('wetravel/wetravel-bg.png');
  min-height: 480px;
  margin-bottom: 0px;
  background-size: contain;
  position: relative;
}
.jumbotron-justlogin {
  background-image: url('justlogin/Justlogin-BG.jpg');
  min-height: 480px;
  margin-bottom: 0px;
  background-size: contain;
  position: relative;
}
.project-goals-card {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: white;
  border-radius: 10px;
  padding: 2em 1em;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  max-width: 900px;
  min-width: 768px;
  position: absolute;
  z-index: 1000;
  top: 80%;
}
.project-goals-card h2 {
  font-size: 36px;
  text-align: center;  
  color: #333;
}
.project-goals-card p {
  margin-top: 30px; 
  color: #535353;
  font-size: 16px;
}
.project-goals-card .container {
  width: 90%;
  max-width: 100%;
  text-align: left;
}
.split-card-before {
  background-color: #fbfbfb;
  height: 170px;
}

.project-content {
  background-color: #fbfbfb;
  width: 100%;
  height: auto;
}
.project-content h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
.project-content .container {
  width: 65%;
  max-width: 768px;
}
.project-content .section {
  margin-top: 40px;
  text-align: center;
}
.project-content h3 {
  font-size: 30px;
}
.project-content .row {
  margin: 20px auto;
}
.row.subsection {
  margin-top: 40px;
}

.outcomes-img img {
  max-width:100%;
  max-height:100%; 
}
.outcomes {
  text-align: center;
}
.examples-img {
  border: 1px solid #e2e2e2;
}
.results {
  background-color: #FFF;
}
.results p {
  text-align: center;
  margin: 10px auto;
}
p.results-value {
  font-size: 60px;
  font-family: "Open Sans";
  color: rgb(87, 204, 233);
  text-align: center;
  margin: 10px auto;
}
p.results-description {
  font-weight: 700;
  font-size: 12px;
  margin: 20px auto;
}
.process-arrow {
  background-image: url('images/process-arrow-right.png'); 
  min-width: 64px;
  min-height: 64px;
  background-repeat: no-repeat;
}
.process-summary h4 {
  margin-top: 20px;
}
.process-detailed {
  background-color: #FFF;
}
.process-detailed-content {
  padding-top: 80px;
}
.process-detailed-content .container {
  padding-left: 60px;
}
.process-detailed-content .container:nth-child(2) {
  padding-top: 40px;
  }
.timeline {
  border-left: 1px solid #535353;
}
.phase-one-timeline:before {
  content: url("images/Process-Usability-Studies.png");
  margin-left: -90px;
}
.phase-two-timeline:before {
  content: url("images/futuro_icons_64px_158.png");
  margin-left: -83px;
}
.phase-three-timeline:before {
  content: url("images/futuro_icons_64px_210.png");
  margin-left: -92px;
}
.phase-four-timeline:before {
    content: url("images/futuro_icons_64px_337.png");
    margin-left: -92px;
}
.phase-five-timeline:before {
    content: url("images/futuro_icons_64px_170.png");
    margin-left: -91px;
}
.phase-prekickoff-timeline:before {
    content: url("images/futuro_icons_64px_460.png");
    margin-left: -91px;
}
.phase-userresearch-timeline:before {
    content: url("images/futuro_icons_64px_478.png");
    margin-left: -91px;
}
.phase-visualdesign-timeline:before {
    content: url("images/futuro_icons_64px_522.png");
    margin-left: -91px;
}

h4.process-section-titles {
  margin-top: -58px;
  text-align: left;
  font-size: 24px; 
}
h5.title-quote {
  text-align: left;
  font-size: 24px;
  font-family: "Open Sans";
  color: rgb(87, 204, 233);
  font-weight: 300;
}
.process-detailed-content p {
  margin: 20px auto;
}
.table-style {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #FEFEFE;
   box-shadow: 1px 1px 4px #eee;
}
.table-style td {
  padding: 2px 10px;
}
.table-style tr {
  border-bottom: 1px solid #eee;
}
.table-style tr:last-child {
  border-bottom: 0px;
}
.table-style tr td {
  border-right: 1px solid #eee;
}
th {
    text-align: center;
    border: 1px solid #EEE;
    padding: 5px;
    color: #333;
}
.table-style tr td:first-child img {
  max-width: 40px;
  margin: 0 auto;
  display: table-cell;
}
img.expected-results {
  max-height: 35px;
  display: block;
  margin: 15px auto;
  width: auto;
}
.table-style h5 {
  margin: 5px; 
}
.table-style.URX-results tr td {
  border-right: 1px solid #eee;
}
.table-style.URX-results tr td:first-child img {
  max-width: 100%;
  padding-top: 5px;
}
.bar {
  height:20px;
  background-color:#cccccc;
  color:#f4f4f4;
  text-align:center;
  width:100%;
}

.level80 {
  height:20px;
  background:rgb(87, 204, 233);
  width:80%;
}
@-moz-keyframes eighty {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}

@-webkit-keyframes eighty {
  0% {
      width: 0px;
  }

  100% {
      width: 80%;
  }
}
@-keyframes eighty {
  0% {
      width: 0px;
  }

  100% {
      width: 80%;
  }
}

.eighty.start {
  width: 0px;
  background: rgb(87, 204, 233);
  -webkit-animation: eighty 2s ease-out forwards;
     -moz-animation: eighty 2s ease-out forwards;
      -ms-animation: eighty 2s ease-out forwards;
       -o-animation: eighty 2s ease-out forwards;
          animation: eighty 2s ease-out forwards;
}

.level60 {
  height:20px;
  background:rgb(87, 204, 233);
  width:60%;
}
@-moz-keyframes sixty {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}

@-webkit-keyframes sixty {
  0% {
      width: 0px;
  }

  100% {
      width: 60%;
  }
}
@-keyframes sixty {
  0% {
      width: 0px;
  }

  100% {
      width: 60%;
  }
}

.sixty.start {
  width: 0px;
  background: rgb(87, 204, 233);
  -webkit-animation: sixty 2s ease-out forwards;
     -moz-animation: sixty 2s ease-out forwards;
      -ms-animation: sixty 2s ease-out forwards;
       -o-animation: sixty 2s ease-out forwards;
          animation: sixty 2s ease-out forwards;
}
.AB-results img {
  max-height: 35px;
  display: inline-block;
  width: auto;
  margin-bottom: 15px;
}
.AB-results-titles {
  text-align: left;
}
img.AB-results-verdict {
  margin-left: 10px;
  max-height: 25px;
}
.col-sm-3.AB-results {
  display: inline-block;
}
.demo-frame {
  height:600px;
  width: 358px;
  position: relative;
  top: 20%;
  border: none;
  margin-bottom: 20px;
}
.demo-frame-wrapper {
  background-image: url('URX-After.png'); 
  background-size: contain;
  background-repeat: no-repeat; 
  height:800px;
  width: 458px;
}
.casestudy-footer {
  background-color: #333;
}
.next-casestudy-container {
  background-color: #F0F3F5;
  padding: 30px 0px;
}


/* About Page */
.jumbotron-about {
  color: #222;
  background: none;
  background-color: #FFF;
  padding-top: 105px;
  padding-bottom: 20px;
}
.about-content {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #fefefe;
}
.about-content a {
  font-size: 16px;
  text-transform: none;
  margin: 0px;
  font-weight: 300;
}
.jumbotron-about h1 {
  color: #535353;
}

@media (min-width: 768px) {
  .navbar-header {
    float: none; 
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .jumbotron .container {
    max-width: 80%;
  }
}

/* Portfolio Page */
img.mockup-portfolio  {
  max-height: 200px;
  margin: 0 auto;
  display: block;
}
.mockup-portfolio img {
  margin: 0 auto;
  display: block;
}
img.project-logo.portfolio-logo {
  margin: 20px auto;
  display: block;
}
.portfolio-card {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #FEFEFE;
  box-shadow: 1px 1px 4px #eee;
  padding: 20px 60px;
  min-height: 450px;
}
@media screen and (max-width: 768px) {

  .mockup {
    display: none;
  }
  .jumbotron .container {
    max-width: 90%;
  }
  .split-card-before {
    height: 320px;
  }
  .project-goals-card {
    top: 100%;
    min-width: 102%;
    border-radius: 0px;
    padding: 1em 0.2em;
  }
  .project-content .container {
    width: 90%;
  }
  .outcomes-img img {
    max-width:100%;
    max-height:100%; 
  }
  
  .process-detailed-content .container {
    padding-left: 38px;
    margin-left: 34px;
  }

  .phase-one-timeline:before {
    content: url("Process-Usability-Studies.png");
    margin-left: -67px;
  }
  .phase-two-timeline:before {
    content: url("futuro_icons_64px_158.png");
    margin-left: -62px;
  }
  .phase-three-timeline:before {
    content: url("futuro_icons_64px_210.png");
    margin-left: -70px;
  }
  .phase-four-timeline:before {
    content: url("futuro_icons_64px_337.png");
    margin-left: -70px;
  }
  .phase-five-timeline:before {
    content: url("futuro_icons_64px_170.png");
    margin-left: -70px;
  }
  .table-style td {
    padding: 2px 3px;
  }
  .table-style p, .table-style li, .table-style ul {
    font-size: 14px;
  }
  .table-style ul {
    padding-left: 20px;
  }
  .process-arrow {
    background-image: url('images/process-arrow-down.png');
    margin: 0 auto;
    display: inline-block; 
  }
  .results p.results-value:nth-child(2) {
    margin-top: 200px;
  }
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: inline-block !important;
  }
  .mobile-view img {
    max-width: 100%;
  }
  .phase-one:before {
    content: url("Process-Usability-Studies.png");
    margin-left: -90px;
  }
  .demo-frame {
    display: none;
  }
  footer .row.container {
    width: 80%;
  }

}
@media (min-width: 480px) and (max-width: 768px) {
  .jumbotron {
    min-height: 400px;
    padding-top: 110px;
  }
  .split-card-before {
    height: 300px;
  }

}