.style1 {color: #999999}
.style3 {color: #999999; text-decoration:underline;}
.style3 a:link {color: #999999; text-decoration:underline;}
.style3 a:visited {color: #999999; text-decoration:underline;}
.style3 a:hover {color: #e70804; text-decoration:none;}
.style3 a:active {color: #999999; text-decoration:underline;}
.style3 {color: #BE311A}