    @font-face {
  font-family: 'FrizQuadrata';
  src: url('FrizQuadrata.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('FrizQuadrata.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


    .container {
      width: 95%;
    }

    .navbar-collapse {
      color:#999;
    }
      a:hover {
        /*text-decoration: none;*/
        color: inherit;
      }

    #nav-menu {
      margin-top: 20px;
    }

    #nav-menu a {
      margin-right: 45px;
    }

    @media screen and (max-width: 768px) {
      #nav-menu a {
        display:block;
        margin:10px;
      }

      #nav-menu button {
        margin:10px;
      }
    }
    .navbar-header .navbar-brand {
      color:white;
      font-size: 33px;
      font-variant: small-caps;
      letter-spacing: 3px;
    }

    .navbar {
      margin-bottom: 0px;
      border-radius: 0;
    }

    body {
      font-family: 'Roboto Slab', sans-serif;
      background-color: #FFF;
    }



    @media (min-width: 992px) {
      a:hover {
        /*text-decoration: none;*/
        color: inherit;
      }
    }




      h4.article-title {
      color: #000;
      padding: 8px 20px;
      font-size: 50px;
      text-align: center;
      font-family: 'Playfair Display', serif;
      padding-bottom: 30px;
    }
    a {
      color: inherit;
    }
    .article-photographer {
      color: #999;
      padding: 1px 20px;  
      font-family: 'PT Sans', serif; 
      font-weight: 900;  
      text-transform: uppercase;    
    }
    .article-others {
      color: #999;
      padding: 1px 20px;  
      font-size: 12px;    
    }
    .footer .container {
      padding-top: 30px;
      color: #999;
      width: 80%;
    }



    .col-sm-6 {
      padding-left: 3px;
      padding-right: 3px;
    }
    .container {
      width: 95%;
    }

    
    h3.article-title {
      color: #FFF;
      padding: 8px 20px;
      text-shadow: 0 2px 2px rgba(0,0,0,0.5);  
      z-index: 8;    
    }
    
    .blog {
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      transition: all 0.2s linear;
    }
    .blog:hover {
      -webkit-transform: scale(1.02,1.02);
      -moz-transform: scale(1.02,1.02);
      -o-transform: scale(1.02,1.02);
      -ms-transform: scale(1.02,1.02);
     transform: scale(1.02,1.02);
    }    

    .col-md-6 {
      margin-right: 15px;
      margin-left: 15px;
    }

  .navbar-collapse a {
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: #e2e2e2;
    font-weight: 200;
    font-size: 14px;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: color;
    -webkit-transition-timing-function: linear;
    line-height: 25px;
    vertical-align: middle;
  }
  .navbar-collapse a:hover {
    color: #c8a555;
    text-decoration: none;
}
  .navbar-inverse {
    background-color: #000;
  }
  .navbar {
    min-height: 65px;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
  }
  a.selected {
    color: #c8a555;
    border-bottom: 1px solid #c8a555;
  }
      .issue img {
      width: 100%;
    }
    .issue {
      
    }
    #main {
      margin-top: 75px;
      margin-bottom: 45px;
    }


    .row .image {
      margin: 5px 0px; 
    }

    
    .footer {
      background-color: #000;
      font-family: 'Raleway', sans-serif;
    }
    /*.trending .col-xs-12:hover {
      -webkit-transform: scale(1.03,1.03);
      -moz-transform: scale(1.03,1.03);
      -o-transform: scale(1.03,1.03);
      -ms-transform: scale(1.03,1.03);
     transform: scale(1.03,1.03);
    }*/
    
  .ad300x250 {
    width: 300px;
    height: 250px;
    margin-bottom: 30px;
  }
  @media (max-width: 991px) and (min-width: 768px) {
      #nav-menu a {
        margin-right: 25px;
      }
      #nav-menu a:nth-child(4) {
        margin-right: 0px;
      }


    }
    .navbar .container {
      width: 100%;
    }

    .entry::before {
      height: 100%;
      width: 100%;
      background-color: #000;
      opacity: 0;
      z-index: 1;
    }
    .entry:hover::before {
      background-color: #000;
      opacity: 0.4;
      z-index: 1;
    }
