.headstyle1
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: MS Sans Serif, Arial, Helvetica, Tahoma, Sans-Serif, Verdana, Geneva;
    BACKGROUND-COLOR: #ffffff
}
.questyle1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: MS Sans Serif, Arial, Helvetica, Tahoma, Sans-Serif, Verdana, Geneva;
    BACKGROUND-COLOR: #ffffff
}
.ansstyle1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, 'MS Sans Serif', Helvetica, Tahoma, Sans-Serif, Verdana, Geneva;
    BACKGROUND-COLOR: #ffffff
}
.hr1
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    WIDTH: 100%;
    COLOR: #6699cc;
    BORDER-BOTTOM: 0px;
    HEIGHT: 2px;
    BACKGROUND-COLOR: #ffffff
}
.headstyle2
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 8pt;
    COLOR: #336600;
    FONT-FAMILY: Verdana, Batang, MS Sans Serif, Arial, Helvetica, Tahoma, Sans-Serif, Geneva;
    BACKGROUND-COLOR: #ffffff
}
.questyle2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #336600;
    FONT-FAMILY: Verdana, Batang, MS Sans Serif, Arial, Helvetica, Tahoma, Sans-Serif, Geneva;
    BACKGROUND-COLOR: #ffffff
}
.ansstyle2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Batang, MS Sans Serif, Arial, Helvetica, Tahoma, Sans-Serif, Geneva;
    BACKGROUND-COLOR: #ffffff
}
.hr2
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    WIDTH: 100%;
    COLOR: #33cc00;
    BORDER-BOTTOM: 0px;
    HEIGHT: 2px;
    BACKGROUND-COLOR: #ffffff
}
.headstyle3
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 9pt;
    COLOR: #7e587e;
    FONT-FAMILY: Comic Sans MS, MS Sans Serif, Arial, Helvetica, Tahoma, Sans-Serif;
    BACKGROUND-COLOR: #ffffff
}
.questyle3
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #7e587e;
    FONT-FAMILY: Comic Sans MS, MS Sans Serif, Arial, Helvetica, Tahoma, Sans-Serif;
    BACKGROUND-COLOR: #ffffff
}
.ansstyle3
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Comic Sans MS, MS Sans Serif, Arial, Helvetica, Tahoma, Sans-Serif;
    BACKGROUND-COLOR: #fdeef4
}
.hr3
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    WIDTH: 100%;
    COLOR: #c38ec7;
    BORDER-BOTTOM: 0px;
    HEIGHT: 2px;
    BACKGROUND-COLOR: #ffffff
}
.questyle4
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Arial, 'Arial Black', Calibri, 'Century Schoolbook', Verdana;
    BACKGROUND-COLOR: white
}
.hr4
{
    WIDTH: 100%;
    COLOR: #336633;
    HEIGHT: 2pt;
    BACKGROUND-COLOR: white
}
.headstyle4
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Arial, 'Arial Black', Calibri, 'Century Schoolbook', Verdana;
    BACKGROUND-COLOR: #ffffff
}
.ansstyle4
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, 'Arial Black', Calibri, 'Century Schoolbook', Verdana;
    BACKGROUND-COLOR: #99ff99
}
.ansstyle5
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: 'Comic Sans MS';
    BACKGROUND-COLOR: #ffcc66
}
.ansstyle6
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, 'MS Sans Serif', Arial, Tahoma;
    BACKGROUND-COLOR: white
}
.headstyle5
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 11pt;
    COLOR: black;
    FONT-FAMILY: 'Comic Sans MS';
    BACKGROUND-COLOR: #ffffff
}
.headstyle6
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 12pt;
    COLOR: #ff6633;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #ffffff
}
.hr5
{
    WIDTH: 100%;
    COLOR: #ff9933;
    HEIGHT: 2px;
    BACKGROUND-COLOR: white
}
.hr6
{
    WIDTH: 100%;
    COLOR: #ff0000;
    HEIGHT: 2px;
    BACKGROUND-COLOR: white
}
.questyle5
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11pt;
    COLOR: black;
    FONT-FAMILY: 'Comic Sans MS'
}
.questyle6
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12pt;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana
}
