body, td {
	font-family: verdana;
	font-size: 12px;
}

#container {
	width: 100%;
	padding-top: 10px;
}

.forgotpassword {
	text-align: left;
	font-size: 10px;
}

#error {
	color: red;
	padding: 10px;
	font-weight: bold;
}